@font-face {
    font-family: Dosis;
    src: url(../fonts/Dosis-Medium.ttf);
}

:root {
    --green: #0bf574;
    --dark: #272727;
    --white: #ffffff;
  }

body {
    background-color: var(--dark);
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

.home, .home:hover, .home:active, .home:visited {
    color: var(--green);
    font-size: 36px;
}

.title {
    font-size: 60px;
    color: var(--green);
}

.sub {
    font-size: 24px;
    color: var(--white);
}

.line {
    width:30%; 
    color:#fff; 
    border-color: #fff"
}


