@font-face {
    font-family: Dosis;
    src: url(../fonts/Dosis-Medium.ttf);
}

:root {
    --accent: #0bf574;
    --backgroundColor: #272727;
    --accentAlt: #ffffff;
  }

body {
    background-color: var(--backgroundColor);
    font-family: "Dosis", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

.home, .home:hover, .home:active, .home:visited {
    color: var(--accent);
    font-size: 36px;
}

.title {
    font-size: 60px;
    color: var(--accent);
}

.sub {
    padding-top: 2%;
    font-size: 24px;
    color: var(--accent);
}

.line {
    width:30%; 
    color: var(--accentAlt); 
    border-color: var(--accentAlt);
}

.line-text {
    width:20%; 
    color: var(--accentAlt);
    border-color: var(--accentAlt);
}

.sub-text {
    font-size: 24px;
    color: var(--accentAlt);
}