@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}

:root {
    --green: #0bf574;
    --dark: #272727;
    --white: #ffffff;
  }

body {
    background-color: var(--dark);
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

.home, .home:hover, .home:active, .home:visited {
    color: var(--green);
    font-size: 36px;
}

.title {
    font-size: 60px;
    color: var(--green);
}

.sub {
    padding-top: 2%;
    font-size: 24px;
    color: var(--green);
}

.line {
    width:30%; 
    color: var(--white); 
    border-color: var(--white);
}

.line-text {
    width:20%; 
    color: var(--white);
    border-color: var(--white);
}

.sub-text {
    font-size: 24px;
    color: var(--white);
}